<% provide :title, t("page.user_create") %>

<div class="row">
  <h1 class="text-center"><%= t("page.user_create") %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= render "users/form" %>
  </div>
</div>
<%= stylesheet_link_tag "sup_user" %>
