<div class="row">
  <h2>Nguyen Thuong</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <h3>Course list is participating</h3>
        <thead>
          <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Date start</th>
            <th>Date end</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1 <a href="" title="View details"><i class="fa fa-eye"></i></a>
            </th>
            <td>Ruby on Rails</td>
            <td>20 days</td>
            <td><span class="label label-success">Active</span></td>
            <td>03/07/2019</td>
            <td><i class="fa fa-spinner"></i></td>
          </tr>
          <tr>
            <th scope="row">2 <a href="" title="View details"><i class="fa fa-eye"></i></a></th>
            <td>Laravel</td>
            <td>20 days</td>
            <td><span class="label label-info">Pedding</span></td>
            <td>23/06/2019</td>
            <td>03/07/2019</td>
          </tr>
          <tr>
            <th scope="row">3 <a href="" title="View details"><i class="fa fa-eye"></i></a></th>
            <td>Frond end</td>
            <td>20 Days</td>
            <td><span class="label label-warning">Finish</span></td>
            <td>23/06/2019</td>
            <td>03/07/2019</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
       <h3>List Supervisor and member</h3>
       <thead>
        <tr>
          <th>Stt</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Do Thi Diem Thao</td>
          <td>do.thi.diem.thao@gmail.com</td>
          <td><span class="label label-danger">Supervisor</span></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Nguyen Ngoc Thuong</td>
          <td>nguyen.ngoc.thuong@gmail.com</td>
          <td><span class="label label-default">Member</span></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Dam Trieu Van The</td>
          <td>dam.trieu.van.the@gmail.com</td>
          <td><span class="label label-default">Member</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Profile</h4>
      </div>
      <div class="modal-body">
        <center>
          <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/58542740_1273193109505349_6710434393346801664_n.jpg?_nc_cat=102&_nc_oc=AQlwyfz6OifjuUjpDbTeXVJhX-CsSDjiyQ4KNcnaOGDko5arzE1triwoGigLODiOfp8&_nc_ht=scontent.fsgn2-2.fna&oh=fbfce30b19c326bc8a733bc3ac4930ed&oe=5D7A3501" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
          <h3 class="media-heading">Nguyen Thuong <small>Trainee</small></h3>
        </center>
        <span><strong>Course is participating: </strong></span>
        <span class="label label-warning">Ruby on Rails</span><br>
        <span><strong>Subject is participating: </strong></span>
        <span class="label label-info">GIT</span>
        <hr>
        <center>
          <p class="text-left"><strong>Task: </strong><br>
            Tutorial: <span class="label label-success">Finish</span><br>
            Test: <span class="label label-warning">Ready</span>
          </p>
          <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
  </div>
