<nav id="sidebar" class="">
    <div class="sidebar-header">
        <h3><%= t "page.sup_visor" %></h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Course</a>
            <%= link_to t("page.course"),"#homeSubmenu",class: "dropdown-toggle",data: {toggle: "collapse"},aria: {expanded: false} %>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Add Course</a>
                </li>
                <li>
                    <a href="#">List Course</a>
                </li>
                <li>
                    <a href="#">Course is opening</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">User</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subject</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Add Subject</a>
                </li>
                <li>
                    <a href="#">List Subject</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Task" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Task</a>
            <ul class="collapse list-unstyled" id="Task">
                <li>
                    <a href="#">Add Task</a>
                </li>
                <li>
                    <a href="#">List Task</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Create Course</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="" class="download">Profile</a>
        </li>
        <li>
            <%= link_to t("page.logout"), logout_path, method: :delete, class: "article"%>
        </li>
    </ul>
</nav>
<%= stylesheet_link_tag "sup_user" %>
